#reservas_superior {
  padding: 10px;
  text-align: center;
}
#reservas_superior label {
  font-family: verdana;
  font-size: 13pt;
  margin-left: 20px;
  margin-right: 5px;
}
#reservas_superior input {
  padding: 10px;
}

.fundo {
  background-color: black;
  color: #fff;
}
.fundo a {
  text-decoration: none;
  font-size: 15pt;
  color: #fff;
}
.fundo2 {
  background-color: #333;
  color: #fff;
}
.fundo2 a {
  text-decoration: none;
  font-size: 15pt;
  color: #fff;
}
.fundo-branco {
  background-color: #fff;
}
body {
  background-image: url("../img/hotel1.jpg");
  background-attachment: fixed;
  background-size: 100%;
}
.img100 {
  width: 100%;
  height: auto;
}
